html {
    font-size: 22px;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    color: var(--bodyTextColor);
    font-family: "Work Sans", sans-serif !important;
    font-size: 400;
    font-size: 22px !important;
}



*, *:before, *:after {
    box-sizing: border-box;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
  --bs-gutter-x: 0;
}

a {
  text-decoration: none;
  color: black;
  transition: all 200ms;
}

p {
    font-size: 0.9em;
    line-height: 2;
    font-weight: 400;
}
h2 {
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    line-height: 1.375;
    font-weight: 500;
    margin-bottom: 2rem;
}

.page {
    padding: 6rem 0 0.5rem;
}
section {
	padding: 0 6rem;
    display: flex;
    justify-content: center;
}
.wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-2 {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.splitter {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ABABAB;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cpath%20fill%3D%22rgba(255,255,255,0.188)%22%20d%3D%22M494.5%2C18.4c-6-10.5-4.4%2C6.9-13.4%2C11c-6.3%2C2.9-5.9-14.6-7.1-21c-1.2-6.5-9.9%2C7.4-15.2%2C13.3%20C454%2C26.9%2C455%2C7.3%2C455%2C7.3l2.8-2.1c0%2C0-2.6%2C18.1%2C1.9%2C11.5c4.5-6.6%2C14.5-18.2%2C16.1-10.7c1.3%2C6.4%2C1.5%2C27.3%2C6.6%2C18.8%20c4.9-8.1%2C6.9-19.6%2C12.9-9.1c5.9%2C10.5%2C8%2C3.3%2C8%2C3.3l2.3%2C0.6C505.7%2C19.6%2C500.4%2C28.9%2C494.5%2C18.4z%20M464.8%2C45.1l0.7%2C5.3l-24.6%2C4.8%20l5.8%2C24.2l-31.6%2C6.5l2.3%2C22.5l-6.1%2C1.7l-2.8-28.7l30.9-6.3l-5.9-24.9L464.8%2C45.1z%20M387.8%2C64c-7.9%2C0-14.4-6.4-14.4-14.4%20c0-7.9%2C6.4-14.4%2C14.4-14.4c7.9%2C0%2C14.4%2C6.4%2C14.4%2C14.4C402.2%2C57.5%2C395.7%2C64%2C387.8%2C64z%20M387.8%2C39.6c-5.5%2C0-10%2C4.5-10%2C10s4.5%2C10%2C10%2C10%20c5.5%2C0%2C10-4.5%2C10-10S393.3%2C39.6%2C387.8%2C39.6z%20M363.4%2C176.6l-11.1%2C7.7l-9.5-14.7l-10.9%2C5.6l-2.1-2.8l14-7.1l9.3%2C14.4l11.4-7.9%20l8.8%2C14.9l-2.6%2C1.4L363.4%2C176.6z%20M282.6%2C77.8l65.6%2C34.8l-55.4%2C34.7L282.6%2C77.8z%20M336.5%2C112.9l-45.9-24.3l7.2%2C48.5L336.5%2C112.9z%20M337.8%2C74.7l-16.2-4.6l3.2-18.1L310%2C50l3.9-18.2l3%2C0.8L314.4%2C47l14.3%2C2l-3.2%2C18.5l12.7%2C3.6L337.8%2C74.7z%20M264.5%2C175.9%20c15.3-5.5%2C30.4-18.8%2C27.1%2C1.6c-3.4%2C20.4%2C7.1%2C13.1%2C7.1%2C13.1l2.5%2C3.3c0%2C0-17%2C6.8-13.7-13.7c3.3-20.4-13.4%2C4.5-29.8%2C0.3%20c-11.5-3%2C7.8-25.8%2C13.1-35.8c5.3-10-21.1-0.8-34.7%2C1.4c-11.8%2C1.9%2C10.7-23.2%2C10.7-23.2l6%2C0.3c0%2C0-23%2C21.5-9.8%2C17.5%20c13.2-4%2C39.1-8.7%2C33.1%2C3C270.8%2C153.7%2C248.6%2C181.7%2C264.5%2C175.9z%20M248.1%2C20.4L237%2C28.1l-9.5-14.7l-10.9%2C5.6l-2.1-2.8l14-7.1l9.3%2C14.4%20l11.4-7.9l8.8%2C14.9l-2.6%2C1.4L248.1%2C20.4z%20M197.6%2C66.4L188.5%2C32l35.1%2C13.8L197.6%2C66.4z%20M200.1%2C59l15.5-12.2l-20.9-8.2L200.1%2C59z%20M216.2%2C152.4c0%2C21.8-17.6%2C39.4-39.4%2C39.4c-21.8%2C0-39.4-17.6-39.4-39.4c0-21.8%2C17.6-39.4%2C39.4-39.4%20C198.5%2C113%2C216.2%2C130.7%2C216.2%2C152.4z%20M176.8%2C120.8c-17.5%2C0-31.6%2C14.2-31.6%2C31.6c0%2C17.5%2C14.2%2C31.6%2C31.6%2C31.6%20c17.5%2C0%2C31.6-14.2%2C31.6-31.6C208.4%2C134.9%2C194.3%2C120.8%2C176.8%2C120.8z%20M134.4%2C26.9l4.6%2C30.1L114%2C47.2L134.4%2C26.9z%20M132.2%2C34l-12.1%2C12.1%20l14.8%2C5.8L132.2%2C34z%20M91.5%2C177.4l25.3%2C17l-3.5%2C7.8L81%2C180.5l20.1-37.5l-31-15.3l21.8-37.1l6.1%2C3.9l-16.1%2C29.7l30.1%2C14.8L91.5%2C177.4z%20M60.9%2C66.2l-31.6%2C6.5l2.3%2C22.5l-6.1%2C1.7l-2.8-28.7l30.9-6.3l-5.9-24.9L79%2C31.8l0.7%2C5.3L55.1%2C42L60.9%2C66.2z%20M46%2C197.5%20c7.7%2C1.2-4.3-14-8.9-22.3c-3.9-7.3%2C17.6%2C1.7%2C17.6%2C1.7l1.2%2C4c0%2C0-19.3-10.2-13.7-2.5c5.6%2C7.7%2C14.7%2C23.5%2C5.6%2C22.2%20c-7.7-1.1-31.1-9.3-23.7-0.2c7.1%2C8.7%2C19.2%2C15.6%2C5.1%2C18c-14.1%2C2.4-6.9%2C7.6-6.9%2C7.6l-1.6%2C2.4c0%2C0-8.3-9.5%2C5.8-12%20c14.1-2.5-6-7.7-7-19.4C18.9%2C188.9%2C38.2%2C196.3%2C46%2C197.5z%20M34.8%2C253.7c0%2C7.9-6.4%2C14.4-14.4%2C14.4c-7.9%2C0-14.4-6.4-14.4-14.4%20c0-7.9%2C6.4-14.4%2C14.4-14.4C28.3%2C239.3%2C34.8%2C245.8%2C34.8%2C253.7z%20M10.4%2C253.7c0%2C5.5%2C4.5%2C10%2C10%2C10s10-4.5%2C10-10s-4.5-10-10-10%20S10.4%2C248.2%2C10.4%2C253.7z%20M22.1%2C466.5c0%2C0-2.6%2C18.1%2C1.9%2C11.5c4.5-6.6%2C14.5-18.2%2C16.1-10.7c1.3%2C6.4%2C1.5%2C27.3%2C6.6%2C18.8%20c4.9-8.1%2C6.9-19.6%2C12.9-9.1c5.9%2C10.5%2C8%2C3.3%2C8%2C3.3l2.3%2C0.6c0%2C0-5.2%2C9.3-11.2-1.2s-4.4%2C6.9-13.4%2C11c-6.3%2C2.9-5.9-14.6-7.1-21%20c-1.2-6.5-9.9%2C7.4-15.2%2C13.3c-4.7%2C5.2-3.7-14.4-3.7-14.4L22.1%2C466.5z%20M33.4%2C412.5c0-20.4%2C16.5-36.9%2C36.9-36.9s36.9%2C16.5%2C36.9%2C36.9%20c0%2C20.4-16.5%2C36.9-36.9%2C36.9S33.4%2C432.9%2C33.4%2C412.5z%20M70.1%2C442.3c16.3%2C0%2C29.6-13.3%2C29.6-29.6c0-16.3-13.3-29.6-29.6-29.6%20s-29.6%2C13.3-29.6%2C29.6C40.5%2C429%2C53.8%2C442.3%2C70.1%2C442.3z%20M100.9%2C224.3l3.4-5.3c0%2C0%2C18.6%2C20.5-12.2%2C26.7%20c-30.8%2C6.1%2C13.4%2C16.6%2C16.2%2C42.2c1.9%2C17.9-40.8%2C2.6-57.8%2C0.3c-17-2.3%2C10%2C30.4%2C20.3%2C48.6c8.9%2C15.8-38.6-2.8-38.6-2.8l-2.8-8.7%20c0%2C0%2C42.7%2C21.3%2C30.1%2C4.7s-33.1-50.9-13.3-48.6c17%2C2%2C68.6%2C18.8%2C51.9-0.8c-15.9-18.7-42.8-33.2-12-39.3%20C116.9%2C235.3%2C100.9%2C224.3%2C100.9%2C224.3z%20M150.4%2C302.2l1%2C4.8l-22%2C6.4l7.2%2C21.6l-28.3%2C8.5l3.9%2C20.4l-5.5%2C2.1l-4.9-26l27.7-8.2%20l-7.4-22.3L150.4%2C302.2z%20M124.9%2C497.1l9.8-33.1l42.4%2C14.1l12.9-28.6l8.6%2C2.2L182%2C488.2l-41.5-13.8l-10.1%2C34l-41.3-15.7l2.9-6.9%20L124.9%2C497.1z%20M159.1%2C436.5l41-53.3l6%2C4.6l-41%2C53.3L159.1%2C436.5z%20M191.6%2C233.6l8.6%2C56.6l-46.9-18.3L191.6%2C233.6z%20M188.1%2C243.2%20l-26.7%2C26.9l32.7%2C12.9L188.1%2C243.2z%20M188.6%2C324.6l36.2%2C14.9l-27.3%2C21.1L188.6%2C324.6z%20M216.6%2C340.4l-21.9-8.9l5.4%2C21.4L216.6%2C340.4z%20M241.7%2C473.4l11.1-12.1l15.2%2C14.9l11.5-9.5l3.2%2C2.7L268%2C481.6L253.2%2C467l-11.4%2C12.4l-14.4-15.3l2.7-2.3L241.7%2C473.4z%20M243.8%2C360%20l48.3%2C27.4l-3.1%2C5.4l-48.3-27.4L243.8%2C360z%20M214.8%2C214.8l6.4-8.1l71.1%2C56.7l-6.4%2C8.1L214.8%2C214.8z%20M266.4%2C314.2%20c0-13%2C10.6-23.6%2C23.6-23.6c13%2C0%2C23.6%2C10.6%2C23.6%2C23.6c0%2C13-10.6%2C23.6-23.6%2C23.6C277%2C337.8%2C266.4%2C327.2%2C266.4%2C314.2z%20M308.5%2C314.4%20c0-10-8.1-18.1-18.1-18.1s-18.1%2C8.1-18.1%2C18.1c0%2C10%2C8.1%2C18.1%2C18.1%2C18.1S308.5%2C324.4%2C308.5%2C314.4z%20M390.2%2C127.2l31%2C59.7l-6.7%2C3.5%20l-31-59.7L390.2%2C127.2z%20M329.2%2C227.6l38.4%2C20.9l15.9-31.7l38%2C22.6l-4.1%2C6.3L387%2C228.8l-15.4%2C30.8l-39.3-21.3l-17.6%2C25.9l-8-3.6%20L329.2%2C227.6z%20M368.3%2C289.4c0-7.9%2C6.4-14.4%2C14.4-14.4c7.9%2C0%2C14.4%2C6.4%2C14.4%2C14.4c0%2C7.9-6.4%2C14.4-14.4%2C14.4%20C374.7%2C303.8%2C368.3%2C297.4%2C368.3%2C289.4z%20M392.6%2C289.4c0-5.5-4.5-10-10-10c-5.5%2C0-10%2C4.5-10%2C10c0%2C5.5%2C4.5%2C10%2C10%2C10%20C388.2%2C299.4%2C392.6%2C294.9%2C392.6%2C289.4z%20M386.4%2C390.4c17.7%2C1.6-11.8-31.2-23.3-49.6c-10-16%2C40.3%2C1.2%2C40.3%2C1.2l3.3%2C8.9%20c0%2C0-45.2-20.3-31.4-3.6c13.8%2C16.7%2C36.6%2C51.4%2C15.9%2C49.9c-17.8-1.3-72-16.5-53.9%2C3.1c17.4%2C18.7%2C45.9%2C32.6%2C14.2%2C40.3%20c-31.7%2C7.7-14.7%2C18.3-14.7%2C18.3l-3.3%2C5.6c0%2C0-20.2-20.5%2C11.5-28.2c31.7-7.7-14.7-16.6-18.7-43.1%20C323.6%2C374.8%2C368.7%2C388.8%2C386.4%2C390.4z%20M347%2C479.2c7.9%2C0%2C14.4%2C6.4%2C14.4%2C14.4c0%2C7.9-6.4%2C14.4-14.4%2C14.4c-7.9%2C0-14.4-6.4-14.4-14.4%20C332.6%2C485.6%2C339%2C479.2%2C347%2C479.2z%20M347%2C503.5c5.5%2C0%2C10-4.5%2C10-10c0-5.5-4.5-10-10-10c-5.5%2C0-10%2C4.5-10%2C10%20C337%2C499%2C341.5%2C503.5%2C347%2C503.5z%20M399.4%2C451.4l4.4%2C1l-3.8%2C18.6l20.8%2C2.6l-4.7%2C24l18.4%2C4.6l-0.5%2C4.8l-23.5-5.9l4.6-23.5l-21.4-2.7%20L399.4%2C451.4z%20M459.4%2C487.6l-9-35.9l36.2%2C14.9L459.4%2C487.6z%20M462.4%2C480l16.5-12.6l-21.9-8.9L462.4%2C480z%20M480.6%2C342.8l12.1%2C79.5%20l-65.8-25.7L480.6%2C342.8z%20M476.9%2C354l-40.4%2C40.4l49.5%2C19.3L476.9%2C354z%20M482.7%2C305.2c-6-10.5-4.4%2C6.9-13.4%2C11%20c-6.3%2C2.9-5.9-14.6-7.1-21c-1.2-6.5-9.9%2C7.4-15.2%2C13.3c-4.7%2C5.2-3.7-14.4-3.7-14.4l2.8-2.1c0%2C0-2.6%2C18.1%2C1.9%2C11.5%20c4.5-6.6%2C14.5-18.2%2C16.1-10.7c1.3%2C6.4%2C1.5%2C27.3%2C6.6%2C18.8c4.9-8.1%2C6.9-19.6%2C12.9-9.1c5.9%2C10.5%2C8%2C3.3%2C8%2C3.3l2.3%2C0.6%20C493.9%2C306.4%2C488.7%2C315.7%2C482.7%2C305.2z%20M478.7%2C290.1l-9-35.9L506%2C269L478.7%2C290.1z%20M481.3%2C282.5l16.5-12.6l-21.9-8.9L481.3%2C282.5z%20M465.4%2C137.4c14.5%2C7.6%2C40.6%2C25.2%2C25.7%2C30.1c-12.8%2C4.3-55.1%2C9.5-36.7%2C17.9c17.6%2C8%2C41.6%2C9.4%2C21.7%2C24c-19.9%2C14.6-4.9%2C17.1-4.9%2C17.1%20l-0.6%2C4.9c0%2C0-20.1-8.4-0.2-23c19.9-14.6-15.1-7.3-25.6-24.6c-7.4-12.1%2C28.2-15.5%2C41-19.6c12.8-4.1-17.3-18.3-30.7-27.8%20c-11.6-8.2%2C28.5-10.9%2C28.5-10.9l4.9%2C5.2C488.4%2C130.7%2C450.9%2C129.8%2C465.4%2C137.4z%22%20%2F%3E%3C%2Fsvg%3E');
    background-size: 128px;
    background-position: center;
    background-repeat: repeat;
    margin: 4.375rem 0;
    padding: 1rem;
}
.splitter h3 {
    color: white;
    text-transform: uppercase;
    font-size: 2.25em;
    font-weight: 400;
    letter-spacing: 0.075rem;
    margin-bottom: 0;
    line-height: 2;
}



/*animations*/
.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}
.fade-in.visible {
    opacity: 1;
}
.slide-in {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}
.slide-in.visible {
    opacity: 1;
    transform: translateY(0);
}
.welcome-animation {
    opacity: 0;
    transition: opacity 1s ease;
}

.welcome-animation.visible {
    opacity: 1;
}




@media (max-width: 1600px) {
    .wrapper {
        max-width: 1000px;
    }
    html, body {
        font-size: 20px !important;
    }
    section {
        padding: 0 4rem;
    }
}
@media (max-width: 1200px) {
    html, body {
        font-size: 16px !important;
    }
    section {
        padding: 0 2rem;
    }
}

@media (max-width: 576px) {
    .page {
        padding: 4rem 0 4rem 0;
    }
    section {
        padding: 0 1.5rem;
    }
    .splitter {
        margin: 2.5rem 0;
    }
    .splitter h3 {
        font-size: 2rem;
    }
}



#header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
#header img {
	width: 6.5em;
	margin-bottom: 36px;
}
#header h1 {
    line-height: 1.125;
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 2rem;
}
#header p {
	margin: 0 0 3rem 0;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.75;
}
#header a {
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1.75rem;
    width: fit-content;
    border: none;
    background-color: #DEDEDE;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 500;
    border-radius: 0.5rem;
    transition: all 300ms;
}
#header a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 992px) {
    #header h1 {
        font-size: 2.5em;
    }
}
@media (max-width: 576px) {
    #header h1 {
        font-size: 2em;
    }
    #header a {
        margin-bottom: 1rem;
    }
}




#what_we_do .row {
    margin-bottom: 5rem;
}
#what_we_do .col-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#what_we_do p {
    margin-bottom: 0;
}
#what_we_do img{
    width: 60%;
    height: auto;
    align-self: center;
}
@media (max-width: 768px) {
    #what_we_do .row {
        margin-bottom: 3rem;
    }
    #what_we_do h2 {
        font-size: 1.5em;
        line-height: 1.375;
        margin: 2rem 0;
        text-align: center;
    }
    #what_we_do p {
        text-align: center;
    }

}








.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-color: #fff;
    padding: 0;
    position: relative;
}

.grid-item {
    padding: 2rem 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-item img {
    width: 6.5rem;
    height: auto;
    margin-bottom: 10px;
}

.grid-item h4 {
    margin: 1rem 0 0 0;
    font-size: 2em;
    line-height: 1.375;
}

.grid-item p {
    margin: 2rem 0 0 0;
}

.grid-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: black;
}

@media (max-width: 992px) {
    .grid-item {
        padding: 2rem 2.3rem;
    }
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .grid-container::before {
        display: none;
    }
    .grid-item {
        padding: 2rem 5rem;
    }
}
@media (max-width: 576px) {
    .grid-item {
        padding: 1.5rem 0;
    }
}


#get_in_touch .col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 300ms all;
    border-radius: 0.5rem;
}
#get_in_touch .col-12:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#get_in_touch a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#get_in_touch a ion-icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.75rem;
}
@media (max-width: 576px) {
    #get_in_touch .col-12 {
        margin-bottom: 2rem;
    }
    #get_in_touch a ion-icon {
        width: 6rem;
        height: 6rem;
        margin-bottom: 0.75rem;
    }
}




#copyright {
    margin-top: 4rem;
    font-size: 0.875em;
    color: #ADA8A6;
}